.vs/AspNetMvc.Authorization.PermissionBased/v15/.suo
AspNetMvc.Authorization.PermissionBased/bin/
AspNetMvc.Authorization.PermissionBased/obj/Debug/AspNetMvc.Authorization.PermissionBased.csproj.FileListAbsolute.txt
AspNetMvc.Authorization.PermissionBased/obj/
packages/
