.vs/AspNetMvc.Authorization.PermissionBased/v15/.suo
AspNetMvc.Authorization.PermissionBased/bin/
AspNetMvc.Authorization.PermissionBased/obj/Debug/AspNetMvc.Authorization.PermissionBased.csproj.FileListAbsolute.txt
AspNetMvc.Authorization.PermissionBased/obj/
packages/
nuget.exe
AspNetMvc.Authorization.PermissionBased.1.0.0.nupkg
AspNetMvc.Authorization.PermissionBased.1.0.0.1.nupkg
.vs/
Example.StudentsManagement/ApplicationInsights.config
Example.StudentsManagement/Example.StudentsManagement.csproj.user
Example.StudentsManagement/bin/
Example.StudentsManagement/obj/Debug/CoreCompileInputs.cache
Example.StudentsManagement/obj/
